.App {
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}
.tempimg{
  filter: contrast(0.9);
  filter: brightness(0.7);
}
.mb-3{
  text-align: center;
}
.dropdown{
  width: fit-content;
  height: 2.3rem;
}
.error{
  margin-left: 20%;
}